<div class="tab-pane fade in active">
  <ul class="list-unstyled activity-timeline">
    <div *ngIf="!(pageTaskActivityLog); then thenBlockEmptyTaskActivityList else elseBlockTaskActivityLogList"></div>
    <ng-template #thenBlockEmptyTaskActivityList>
      <li>
        <i class="fa fa-times activity-cross"></i>
        <p>No Activity Log Found</p>
      </li>
    </ng-template>
    <ng-template #elseBlockTaskActivityLogList>
      <li *ngFor="let log of pageTaskActivityLog ;let last = last ; let index = index">
      <i class="fa fa-cloud-upload activity-icon"></i>
      <p><strong>Action :</strong> {{log.activity}} <strong>Status :</strong>{{log.status}} <strong> Description :</strong>{{log.description}} <span class="timestamp">{{log.createdAt | date:'MMMM d, y, h:mm:ss a'}}</span></p>
    </li>
    </ng-template>
  </ul>
</div>
<div class="text-left">
  <ngb-pagination [collectionSize]="totalActivityLog" [(page)]="currentPage" [maxSize]="5" [pageSize]="limit" [boundaryLinks]="true" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
</div>
