<div class="row">
        <div class="col-md-12">
            <!-- BORDERED TABLE -->
            <div class="panel panel-headline">
                <div class="panel-heading">
                            <h3 class="panel-title">Running Task List</h3>
                            <p class="panel-subtitle">Period: Oct 14, 2016 - Oct 21, 2016</p>
                        </div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Username</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Steve</td>
                                <td>Jobs</td>
                                <td>@steve</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Simon</td>
                                <td>Philips</td>
                                <td>@simon</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Jane</td>
                                <td>Doe</td>
                                <td>@jane</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END BORDERED TABLE -->
        </div>
    </div>