<div class="sidebar-scroll">
  <nav>
    <ul class="nav">
      <li><a href="" class="" routerLink="/dashboard" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:
true}"><i class="lnr lnr-home" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:
true}"></i> <span>Home</span></a></li>
      <li><a href="" class="" routerLink="running" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:
true}"><i class="lnr lnr-book"></i> <span>Running Task</span></a></li>
      <li><a href="" class="" routerLink="stopped" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:
true}"><i class="lnr lnr-power-switch"></i> <span>Stoped Task</span></a></li>
      <li><a href="" class="" routerLink="profile" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:
true}"><i class="lnr lnr-cog"></i> <span>Profile</span></a></li>
    </ul>
  </nav>
</div>
